
<%= stylesheet_link_tag "show_medico", media: "all" %>
<br>
<h1 id="consultas_user">Visualizar usuário</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class='container'>
 <table class="table_adm"><tr>

   <tbody>
   <td>
  	  <div class ="avatar_med" style="background:url(<%= @user.avatar.url %>);"></div>
  	  <div class ="user_name"><%= @user.name%></div>
      <div class ="rating_med"><%= render_stars(@user.media)%></div><br>
      <div class ="user_email">CRM <%= @user.crm %></div>
  	  <div class ="user_telephone"><img src="/assets/phone-receiver.png"/><%= @user.telephone %></div>
  	  <div class ="user_email"><img src="/assets/close-envelope.png"/><%= @user.email %></div><br>
      <label id="classification">Aceito exibir classificação 
      <%= f.check_box :rating %></label>
   </td>


     <td>
       <div class ="med_text">Exames</div>
       <div class ="user_exames"><%= @user.speciality.collect(&:name).join("<br>").html_safe %></div><br>
       <div class ="med_text">Especialidades</div>
       <div class ="user_especialidades"><%= @user.exam_type.collect(&:name).join("<br>").html_safe %></div><br>
       <div class ="med_text">Locais</div>
       <div class ="user_places"><%= @user.place.collect(&:name).join("<br>").html_safe %></div>
       <br><br>
       <div class ="user_crm">C.R.M<br><img src=<%=  @user.crm_image.url %>/> </div>
       <div class ="med_text">Comp.residência</div><br>
       <div class ="user_adress" style="background:url(<%= @user.proof_of_address_image.url %>);"></div>
     </td>
  
     <td>
        <label id="admin">Ativo <%= f.check_box :active%> </label><br><br>
        <div class ="block_med"> <%= f.text_field :blocked_message , placeholder: "Mensagem de bloqueio"%> </div><br>
        <button id="submit_med" type="submit">Confirmar bloqueio</button>
     </td>
    </tbody>
  </table>
</div>

<% end %>

