<%= stylesheet_link_tag "service_windows", media: "all" %>
<p id="notice"><%= notice %></p>

<div id="dialog" title="Monte sua agenda">
<%= render "service_windows/form" %>
</div>

  <% if @service_window.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_window.errors.count, "erros") %> encontrados:</h2>
      <ul>
       <%@service_window.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<!-- tabela da semana //-->
  <table class="atendimento" border=0 cellspacing=0 cellpadding=0 > 

  <thead class="calendar-tab">
  <tr>
      <td>Dom<input type=image src="/assets/plusverde.png" id="0" class="opener"></input></td>
      <td>Seg<input type=image src="/assets/plusverde.png" name=botao id="1" class="opener"></input></td>
      <td>Ter<input type=image src="/assets/plusverde.png" id="2" class="opener"></input></td>
      <td>Qua<input type=image src="/assets/plusverde.png" id="3" class="opener"></input></td>
      <td>Quin<input type=image src="/assets/plusverde.png" id="4" class="opener"></input></td>
      <td>Sex<input type=image src="/assets/plusverde.png" id="5" class="opener"></input></td>
      <td>Sab<input type=image src="/assets/plusverde.png" id="6" class="opener"></input></td>
  </tr>
  </thead>

   <tbody  class="calendar-tab">
  
     <%  for i in 0..6 do %>
        <td><% @service_windows.each do |service_window| %>
            <%if service_window.week_day == i %><br>
              <div class ="tabela_campos"><br>
              <%= link_to image_tag("/assets/lixo.png", class:"delete"), service_window, method: :delete, data: { confirm: 'Tem certeza?' } %>
              <%= service_window.start_time.strftime("%H:%M")%> - <%= service_window.end_time.strftime("%H:%M")%>

              <hr width=100% noshade ><br>
              <div class="titulos">Tempo de atendimento:</div>
              <img src="/assets/clock.png"><%= service_window.service_time %> minutos

              <hr width=98% ><br><div class="titulos"> Local:</div>
              <img src="/assets/ponteiro.png"><%= service_window.place.try(:name)%><br>

              <hr width=98% ><br><div class="titulos"> Exames:</div>
              <img src="/assets/examination.png"><%= service_window.exam_type.try(:name)%><br>

              <hr width=98% ><br><div class="titulos"> Especialidades:</div>
              <img src="/assets/medicaldoctor.png"><%= service_window.speciality.try(:name)%><br>

              <hr width=98% ><br><div class="titulos"> Pagamento:</div>
              <img src="/assets/pagamento.png"><%= service_window.payment_method.collect(&:name).join(", ")%><br>

              <hr width=98% ></hr>
              <br><div class="titulos">Planos:</div>
              <img src="/assets/like.png"><%= service_window.health_plan.collect(&:name).join(", ")%><br>

              <hr width=98% ></hr>
              <br><div class="titulos">Valor:</div>
              <img src="/assets/pagamento.png"><%= number_to_currency_br(service_window.value)%><br>
              </div> <br>

    <% end %> 
        <% end %></td>
            <% end %>
 
  </tbody>
</table>


 
<!-- fim da tabela da semana //-->
