<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @receipt_period.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @receipt_period.end_date %>
</p>

<p>
  <strong>Accompliched:</strong>
  <%= @receipt_period.accompliched %>
</p>

<p>
  <strong>User:</strong>
  <%= @receipt_period.user %>
</p>

<%= link_to 'Edit', edit_receipt_period_path(@receipt_period) %> |
<%= link_to 'Back', receipt_periods_path %>
