<%= stylesheet_link_tag "payments", media: "all" %>
<p id="notice"><%= notice %></p>

<h1>Financeiro</h1>
<div class="preto"> </div> <br><br>

   <ul class="tabs" id = "menu">

      <lu id="tab1" ><a href="#pagamentos">Pagamentos</a></lu>                        
    <lu id="tab2"><a href="#recebimentos">Recebimentos</a></lu>  
                                                             
     </ul>

</div>
<div class="cont_tab" id="pagamentos">
  <%= render "payment_periods/pagamentos" %>
</div>

<div class="cont_tab" id="recebimentos" >
  <%= render 'payment_periods/recebimentos'%>
</div>
<br>

<br>
