<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @payment_period.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @payment_period.end_date %>
</p>

<p>
  <strong>Accomplished:</strong>
  <%= @payment_period.accomplished %>
</p>

<%= link_to 'Edit', edit_payment_period_path(@payment_period) %> |
<%= link_to 'Back', payment_periods_path %>
