<%= javascript_include_tag "place" %>
<% content_for :css do %>
  <link rel="stylesheet" href="/stylesheets/places.css">
<% end %>

<h1>Procurar atendimento</h1>
<div class="preto"> </div>

<%= form_tag attendence_search_attendences_path do %> 

<div class = 'map_tudo'>
  <div class = "mapacampos">
        <div class="text_search">
          <%= text_field_tag :address,params[:address], placeholder:"Selecione sua localização",id:"Endereco",size: "165px"%> 
        </div>

        <%= hidden_field_tag :latitude, id:"latitude"%>

        <%= hidden_field_tag :longitude, id:"longitude"%>

     <div class= "search_but"> <%= link_to "Proxímo", attendence_search_attendences_path, remote: true %> </div>
  </div>

<% end %>


<div id="mapa" style="height: 100%; width: 100%; margin-top:-2px;"></div>
</div>



<script type="text/javascript">

function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
    function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }


$('.search_but').on("click", function() {
          var result_exame = getUrlVars()["exam"]
          var result_speciality = getUrlVars()["speciality"]

          var address =  $('#Endereco').val();
          var latitude = $('#latitude').val();
          var longitude =  $('#longitude').val();
          var speciality = getUrlVars()["speciality"];
          var payment =  getUrlVars()["payment"];
          var health_plan = getUrlVars()["health_plan"];
          var attendence_type = getUrlVars()["attendence_type"];

          if (result_exame != "") 
          var exam =  getUrlVars()["exam"]
        
          if (result_exame == "")
          var exam =  getUrlVars()["exam_home"]
        
          if (result_speciality != "") 
          var speciality = getUrlVars()["speciality"]

          if (result_speciality == "") 
          var speciality =  getUrlVars()["speciality_home"]


          $.ajax({
              type: "post",
              url: "/attendence/search_attendences",

              data: {address,latitude,longitude,payment,health_plan,exam,speciality,attendence_type},
              success: function (data){

            }
          });
      });


</script>