<p id="notice"><%= notice %></p>

<h1>Listing Search Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Complement</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_addresses.each do |search_address| %>
      <tr>
        <td><%= search_address.address %></td>
        <td><%= search_address.complement %></td>
        <td><%= search_address.latitude %></td>
        <td><%= search_address.longitude %></td>
        <td><%= search_address.user %></td>
        <td><%= link_to 'Show', search_address %></td>
        <td><%= link_to 'Edit', edit_search_address_path(search_address) %></td>
        <td><%= link_to 'Destroy', search_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search address', new_search_address_path %>
