<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @search_address.address %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @search_address.complement %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @search_address.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @search_address.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @search_address.user %>
</p>

<%= link_to 'Edit', edit_search_address_path(@search_address) %> |
<%= link_to 'Back', search_addresses_path %>
