html{
    height: 100%;
}

body {
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%; 
    margin:0px !important;
}

.cont_tab {
    width: 100%;
    margin:2px;
}

.realizar_checked img{
    width: 50px;
    height: 50px;
}

.tabs{
background-color: #b8e6d6;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
border: 0px;
padding: 10px 0px 15px;
color: #c5b2cf;
text-decoration: none;
width:100%;
height:47px;
text-align: center;
margin-top: -37px;
}

#button_payment{
    background-color: #2dc29f;
    color:#fff;
    border:none;
    font-size: 20px;
    padding: 5px 5px;
    cursor: pointer;
}

#search-text input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 500px;
    height: 44px;
    font-size: 27px;
    margin-top: 5px;
    border: none;
    text-align: left;
    padding-left: 10px;
    margin-right: 35%;
    padding: 10px;
}

html ul.tabs lu.active {
  background: #2dc29f;
  padding: 7px 0px ;
  width: 50%;
  display: block;
}

.payment_price{
  color:#000;
}

.pdf_image img{
  width:35px;
  height:35px;
}

.payment_text{
  color:#2dc29f;
}

h1 {
    color: #DCDCDC;
    margin-top: -10px;
}
/* =============== Estilos da tabela zebrada =============== */

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
   
}

.table-striped tbody tr:nth-child(odd) td, .ls-table-striped.ls-bg-header tr:nth-child(even) td {
    background: #f7f7f7;
    width: 50%;
}

.table tbody tr:last-child td, .ls-table tbody tr:last-child th {
    border-bottom: none;
    width: 50%;

}
.table td, .ls-table th {
    padding: 13px;
    text-align: left;
    font-size: 14px;
}

.table td:hover {
    font-weight: normal;
}
