
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: none;
  display: block;
}

#error_explanation {
  width: 450px;
  border: 2px solid #492566;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 40px;
  float:right;
  margin-right:600px;
  background-color: white;

  h2 {
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #492566;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
