h1 {
    color: #DCDCDC;
    margin-top: 2px;
    margin-bottom: 15px;
}


h3 {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h4{
    color: #63ba9c;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-decoration: none;
}

.procurar{
    float: left;
    margin-left: 48%;
}

.mensagem_fail {
    background-color: #fff;
    background-size: 30px;
    font-size: 20px;
    color: #63ba9c;
    text-align:center;
    margin-left:70px;
    margin-top: 10px;
}

a.rowLink:hover {
    background-color: #0679a6;
    opacity: 0.1;
}


.address_attendence{
font-size: 11px;
}


.lista{
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color:#90EE90;
    margin-bottom: 15px;
}

.pretofino {
    background: #111;
    width: 100%;
    height: 5px;
    margin-top: -15px;
}

#verde{
    background: #c3e3d6;
    width: 100%;
    text-align: center;
    height: 40px;
    margin-top:-20px;
}

.campos_busca{
    float: right;
    margin-right: 45%;
    margin-top: 10px;   
}

.labels_tags{
    color: #63ba9c;
    text-align: left;
}

#urgencia{
    text-align: center;
    font-size: 49px;
    float: right;
    margin-right: 24%;
    margin-top: 5px;
    padding: 10px 188px;
    font-size: 30px;
    color:#000 ;
    border:none;
    text-decoration: none;
    text-align: center;
}

.campos_busca label{
    float: left;
    color:#63ba9c;
}

.name_medico a{
    color: #63ba9c;
    font-size: 20px;
}

.name_medico img{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
    margin-top: -3px;
}

.mapacampos{
   float:left;
   margin-left: 10px; 
   margin-top: 5px;
   position:absolute;
    left:1;
    z-index: 9000;
}

.rating img {
    width: 32px;
    height: 32px;
}

.search_but a {
    background-color: #63ba9c;
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-right: 330px;
    margin-top: -9px !important;
    border: none;
}

.search_but  {
    margin-top: 15px !important;
}

.text_search input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 70%;
    height: 41px;
    float:left;
    font-size: 22px;
    margin-top: 5px;
    border: none;
    text-align: left;
    padding: 2px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 2px solid #63ba9c;
    border-radius: 4px;
    box-shadow: 0 0 2px #63ba9c;
}

.next{
    float: right;
    margin-right: 33%;
    margin-top: 5px;
    background-color: #63ba9c;
    padding: 10px 188px;
    font-size: 30px;
    color:#fff;
    border:none;
    text-decoration: none;
    text-align: center;
}
.campos_busca .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    font-size: 20px;
    width: 485px;
    height: 30px;
}

.campos_busca .select2-container--default .select2-selection--single { 
   font-family: Arial,Helvetica,sans-serif;
    border: 1px solid #C1CDC1 !important;
    font-size: 14px !important;
    color: #111 !important;
    width: 485px !important;
    height: 30px;
    margin-top: 5px !important;
    color: #fff !important;
    text-align: left!important;
    float:left!important;  
}
.campos_busca .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    top: 1px;
    right: 1px;
    margin-top: 5px;
    background: transparent;
    margin-left: -40px;
}

.campos_busca .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #63ba9c transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: 200px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: #63ba9c;
    text-align: left;
}

.select2-results__option {
    padding: 6px;
    text-align: left !important;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    left: -100000px;
    width: 485px !important;
    position: absolute;
    z-index: 1051;
}

/* =============== Estilos da tabela zebrada =============== */

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    width: 100%
}

.table-striped tbody tr:nth-child(odd) td, .ls-table-striped.ls-bg-header tr:nth-child(even) td {
    background: #f7f7f7;
    width: auto;
}

.table tbody tr:last-child td, .ls-table tbody tr:last-child th {
    border-bottom: none;
    width: auto;
}
.table td, .ls-table th {
    padding: 13px;
    text-align: left;
    font-size: 14px;
}

.table td:hover {
    font-weight: normal;
}
