<% if current_user.account_type_id == 1 %>
    <%= render 'attendences/showpaciente' %>
<% end %>

<% if current_user.account_type_id == 2%>
    <%= render 'attendences/showadm' %>
<% end %>

<% if current_user.account_type_id == 3%>
    <%= render 'attendences/showmedico' %>
<% end %>