<%= stylesheet_link_tag "menu", media: "all" %>
<div class ="barra">
<div class = mdkobranco>
<img src="/assets/medko-full-white.png">
</div>
<ul class ="menu">
  <lu> <%= link_to'Locais de atendimento', places_path(current_user) %> </lu>
  <lu> <%= link_to'Consultas', attendences_path%> </lu>
  <lu> <%= link_to 'Agenda', service_windows_path(current_user) %> </lu>
  <lu> <%= link_to 'Perfil',edit_user_path(current_user)%> </lu>
  <lu> <%= link_to 'Financeiro', payments_path %> </lu>
  <lu> <%= link_to('Sair', destroy_user_session_path, :method => :delete) %> </lu>
</ul>
</div>
